*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

html, 
body {
    color: white;
    background-color: #aed581;
    font-family: Lato, sans-serif;
    margin-top: 40px;
}

h1{
    color: #255d00;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
    margin: 20px 0px;
}

.tasksApp{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mainListOfTasks{
    width: 600px;
    min-height: 500px;
    background-color: #FFF;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
}